@media (max-width: 840px) {
  .items {
    display: flex;
    gap: 10px;
  }
  a {
    font-size: 10px;
  }
  .logo_img {
    width: 100px;
    height: 20px;
  }
}
@media (max-width: 620px) {
  .item,
  .item_select {
    display: none;
  }
  .hamburger_btn {
    display: block;
    border: none;
    background-color: white;
  }
  .hamburger_btn:active {
    transform: scale(0.97);
  }
  .select_country,
  .contact,
  .login {
    display: none;
  }
}
