* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  border: 1px slid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 19px;
}
.items {
  display: flex;
  gap: 15px;
}
.hamburger_btn {
  display: none;
}
a {
  text-decoration: none;
}
a:hover {
  background-color: #000;
  color: #ffff;
  /* padding: 5px 20px; */
  height: fit-content;
}
.nav_right {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
input {
  width: 20px;
  border: none;
}
select {
  border: none;
}
.btn_bag {
  border: none;
  background-color: white;
  width: 30px;
  height: 30px;
}
.btn_bag:active {
  transform: scale(0.95);
}
.bag_img {
  width: 100%;
  /* height: 10px; */
}
header {
  display: flex;
}
.header_left {
  flex: 1;
  border: 1px solid #000;
}
.header_right {
  flex: 1;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_left-img {
  width: 100%;
  height: 700px;
}
.header_right-img {
  width: 400px;
  height: 500px;
}
